<%- include("parts/header.ejs") %>
<div class="banner">
    <div class="owl-four owl-carousel" itemprop="image">
      <img
        style="height: 1000px"
        src="images/university-ge79a13285_1920.jpg"
        alt="Image of Bannner"
      />
      <img
        style="height: 1000px"
        src="images/library-g0358f7f9e_1920.jpg"
        alt="Image of Bannner"
      />
      <img
        style="height: 1000px"
        src="images/student-g583fbb16e_1920.jpg"
        alt="Image of Bannner"
      />
    </div>
    <div class="container" itemprop="description">
      <h1 style="font-family: 'Courier New', Courier, monospace">
        <br />
        <br />
        <br />
        <br />
        welcome to The Best Web Site For Documents education
      </h1>
      <h3>
        With our advance search feature you can now find the trips for you...
      </h3>
    </div>
    <div id="owl-four-nav" class="owl-nav"></div>
  </div>
      <section class="contact-page-section">
        <div class="container">
          <div class="people-info-wrap">
            <h2>leave us your info</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
            <form>
              <span>
                <input
                  type="text"
                  placeholder="Full Name*"
                  class="input- name"
                />
                <input type="email" placeholder="Email*" class="input- email" />
              </span>
              <input
                type="text"
                placeholder="Subject*"
                class="input- subject"
              />
              <textarea placeholder="Messages*" class="input-"> </textarea>
              <input type="submit" value="submit now" />
            </form>
          </div>

          <div class="contact-info">
            <h2>contact info</h2>
            <ul class="contact-list">
              <li>
                <i class="fas fa-location-arrow"></i>
                <span>
                  <p>Gongabu, Kathmandu, Nepal</p>
                  <p>(Opposite to Aatmagyan Prachar sangh)</p>
                </span>
              </li>
              <li>
                <i class="fas fa-phone"></i>
                <span>
                  <p>Phone: 016204888, Mobile: 9813639131</p>
                  <p>Fax:7838478387</p>
                </span>
              </li>
              <li>
                <i class="fas fa-envelope"></i>
                <span>
                  <p>info@labtheme.com</p>
                </span>
              </li>
            </ul>
            <ul class="contact-social">
              <li>
                <a href=""><i class="fab fa-viber"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-facebook-square"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-facebook-messenger"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-skype"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="map-section">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.5733087899557!2d85.31323458697706!3d27.730457718152763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1920ba20a0d5%3A0x3ea7459e8ab1371f!2sSpyders+Lab!5e0!3m2!1sen!2snp!4v1547705422844"
          width="100%"
          height="500"
          frameborder="0"
          style="border: 0"
          allowfullscreen
        ></iframe>
      </section>

      <section class="query-section">
        <div class="container">
          <p>
            Any Queries? Ask us a question at<a href="tel:+9779813639131"
              ><i class="fas fa-phone"></i> +977 9813639131</a
            >
          </p>
        </div>
      </section>
      <!-- End of Query Section -->
    </div>
<%- include("parts/footer.ejs") %>
