<%- include("parts/header.ejs") %>
<div class="banner">
  <div class="owl-four owl-carousel" itemprop="image">
    <img
      style="height: 1000px"
      src="images/university-ge79a13285_1920.jpg"
      alt="Image of Bannner"
    />
    <img
      style="height: 1000px"
      src="images/library-g0358f7f9e_1920.jpg"
      alt="Image of Bannner"
    />
    <img
      style="height: 1000px"
      src="images/student-g583fbb16e_1920.jpg"
      alt="Image of Bannner"
    />
  </div>
  <div class="container" itemprop="description">
    <h1 style="font-family: 'Courier New', Courier, monospace">
      <br />
      <br />
      <br />
      <br />
      welcome to The Best Web Site For Documents education
    </h1>
    <h3>
      With our advance search feature you can now find the trips for you...
    </h3>
  </div>
  <div id="owl-four-nav" class="owl-nav"></div>
</div>
<section class="whyUs-section">
  <div class="container">
    <div class="featured-points">
      <ul>
        <li><i class="fas fa-book"></i> free books for students</li>
        <li><i class="fas fa-money-check-alt"></i> affordable fees</li>
        <li><i class="fas fa-chalkboard-teacher"></i> experienced teachers</li>
        <li><i class="fas fa-book"></i> free books for students</li>
      </ul>
    </div>
    <div class="whyus-wrap">
      <h1>why us?</h1>
      <p itemprop="description">
        Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum
        Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
        ipsumLorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
        ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
        ipsumLorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
        ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
        ipsumLorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
        ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
        ipsumLorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
        ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
        ipsumLorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
        ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
        ipsum
      </p>

      <a href="#" class="read-more-btn">read more</a>
    </div>
  </div>
</section>
<!-- Closed WhyUs section -->
<section class="page-heading">
  <div class="container">
    <h2>gallery</h2>
  </div>
</section>
<section
  class="gallery-images-section"
  itemprop="image"
  itemscope
  itemtype=" http://schema.org/ImageGallery"
>
  <div class="gallery-img-wrap">
    <a
      href="images/gallery-img1.jpg"
      data-lightbox="example-set"
      data-title="Click the right half of the image to move forward."
    >
      <img src="images/gallery-img1.jpg" alt="gallery-images" />
    </a>
  </div>
  <div class="gallery-img-wrap">
    <a
      href="images/gallery-img2.jpg"
      data-lightbox="example-set"
      data-title="Click the right half of the image to move forward."
    >
      <img src="images/gallery-img2.jpg" alt="gallery-images" />
    </a>
  </div>
  <div class="gallery-img-wrap">
    <a
      href="images/gallery-img3.jpg"
      data-lightbox="example-set"
      data-title="Click the right half of the image to move forward."
    >
      <img src="images/gallery-img3.jpg" alt="gallery-images" />
    </a>
  </div>
  <div class="gallery-img-wrap">
    <a
      href="images/gallery-img4.jpg"
      data-lightbox="example-set"
      data-title="Click the right half of the image to move forward."
    >
      <img src="images/gallery-img4.jpg" alt="gallery-images" />
    </a>
  </div>
  <div class="gallery-img-wrap">
    <a
      href="images/gallery-img5.jpg"
      data-lightbox="example-set"
      data-title="Click the right half of the image to move forward."
    >
      <img src="images/gallery-img5.jpg" alt="gallery-images" />
    </a>
  </div>
  <div class="gallery-img-wrap">
    <a
      href="images/gallery-img6.jpg"
      data-lightbox="example-set"
      data-title="Click the right half of the image to move forward."
    >
      <img src="images/gallery-img6.jpg" alt="gallery-images" />
    </a>
  </div>
  <div class="gallery-img-wrap">
    <a
      href="images/gallery-img7.jpg"
      data-lightbox="example-set"
      data-title="Click the right half of the image to move forward."
    >
      <img src="images/gallery-img7.jpg" alt="gallery-images" />
    </a>
  </div>
  <div class="gallery-img-wrap">
    <a
      href="images/gallery-img8.jpg"
      data-lightbox="example-set"
      data-title="Click the right half of the image to move forward."
    >
      <img src="images/gallery-img8.jpg" alt="gallery-images" />
    </a>
  </div>
  <div class="gallery-img-wrap">
    <a
      href="images/gallery-img9.jpg"
      data-lightbox="example-set"
      data-title="Click the right half of the image to move forward."
    >
      <img src="images/gallery-img9.jpg" alt="gallery-images" />
    </a>
  </div>
  <div class="gallery-img-wrap">
    <a
      href="images/gallery-img10.jpg"
      data-lightbox="example-set"
      data-title="Click the right half of the image to move forward."
    >
      <img src="images/gallery-img10.jpg" alt="gallery-images" />
    </a>
  </div>
  <div class="gallery-img-wrap">
    <a
      href="images/gallery-img11.jpg"
      data-lightbox="example-set"
      data-title="Click the right half of the image to move forward."
    >
      <img src="images/gallery-img11.jpg" alt="gallery-images" />
    </a>
  </div>
  <div class="gallery-img-wrap">
    <a
      href="images/gallery-img12.jpg"
      data-lightbox="example-set"
      data-title="Click the right half of the image to move forward."
    >
      <img src="images/gallery-img12.jpg" alt="gallery-images" />
    </a>
  </div>
</section>
<!-- End of gallery Images -->

<section class="what-other-say">
  <!-- <div class="container">
				<div class="wrap-others-say" itemprop="review" itemscope itemtype="http://schema.org/ReviewAction">
					<h1>what other say about us</h1>
					<div id="carousel" class="flexslider">
						<ul class="slides">
							<li class="img-wrap">
								<figure itemprop="image">
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure itemprop="image">
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure itemprop="image">
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure itemprop="image">
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure itemprop="image">
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure itemprop="image">
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure itemprop="image">
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure itemprop="image">
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="fig">
										<h3 class="hidden">Sagar Sapkota</h3>
										<h4 class="hidden">UI Designer</h4>
									</figcaption>
								</figure>
							</li>
						</ul>
					</div>

					<div id="slider" class="flexslider">
	  					<ul class="slides">
						    <li>
						    	<div class="testimonial-holder" itemprop="description">
						    		<strong class="title">Amazing service and amazing team. Thank you!</strong>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fer-<br/>mentum mauris, non tincidunt arcu venenatis vel. Nam et vehicula turpis. Ut nunc purus, mattis eu odio a, egestas facilisis nibh. Mauris magna diam, iaculis vitae sapien non, pharetra congue purus. Phasellus in odio purus.</p>
						    		<div class="rateYo"></div>
						    	</div>
						    </li>
						    <li>
						    	<div class="testimonial-holder" itemprop="description">
						    		<strong class="title">Very Satisfaied with their service</strong>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fer-<br/>mentum mauris, non tincidunt arcu venenatis vel. Nam et vehicula turpis. Ut nunc purus, mattis eu odio a, egestas facilisis nibh. Mauris magna diam, iaculis vitae sapien non, pharetra congue purus. Phasellus in odio purus.</p>
						    		<div class="rateYo"></div>
						    	</div>
						    </li>
						    <li>
						    	<div class="testimonial-holder" itemprop="description">
						    		<strong class="title">Quick, efficient and meets your expectations</strong>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fer-<br/>mentum mauris, non tincidunt arcu venenatis vel. Nam et vehicula turpis. Ut nunc purus, mattis eu odio a, egestas facilisis nibh. Mauris magna diam, iaculis vitae sapien non, pharetra congue purus. Phasellus in odio purus.</p>
						    		<div class="rateYo"></div>
						    	</div>
						    </li>
						    <li>
						    	<div class="testimonial-holder" itemprop="description">
						    		<strong class="title">The website was according our imagination</strong>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fer-<br/>mentum mauris, non tincidunt arcu venenatis vel. Nam et vehicula turpis. Ut nunc purus, mattis eu odio a, egestas facilisis nibh. Mauris magna diam, iaculis vitae sapien non, pharetra congue purus. Phasellus in odio purus.</p>
						    		<div class="rateYo"></div>
						    	</div>
						    </li>
						    <li>
						    	<div class="testimonial-holder" itemprop="description">
						    		<strong class="title">Amazing service and amazing team. Thank you!</strong>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fer-<br/>mentum mauris, non tincidunt arcu venenatis vel. Nam et vehicula turpis. Ut nunc purus, mattis eu odio a, egestas facilisis nibh. Mauris magna diam, iaculis vitae sapien non, pharetra congue purus. Phasellus in odio purus.</p>
						    		<div class="rateYo"></div>
						    	</div>
						    </li>
						    <li>
						    	<div class="testimonial-holder" itemprop="description">
						    		<strong class="title">Very Satisfaied with their service</strong>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fer-<br/>mentum mauris, non tincidunt arcu venenatis vel. Nam et vehicula turpis. Ut nunc purus, mattis eu odio a, egestas facilisis nibh. Mauris magna diam, iaculis vitae sapien non, pharetra congue purus. Phasellus in odio purus.</p>
						    		<div class="rateYo"></div>
						    	</div>
						    </li>
						    <li>
						    	<div class="testimonial-holder" itemprop="description">
						    		<strong class="title">Quick, efficient and meets your expectations</strong>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fer-<br/>mentum mauris, non tincidunt arcu venenatis vel. Nam et vehicula turpis. Ut nunc purus, mattis eu odio a, egestas facilisis nibh. Mauris magna diam, iaculis vitae sapien non, pharetra congue purus. Phasellus in odio purus.</p>
						    		<div class="rateYo"></div>
						    	</div>
						    </li>
						    <li>
						    	<div class="testimonial-holder" itemprop="description">
						    		<strong class="title">The website was according our imagination</strong>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fer-<br/>mentum mauris, non tincidunt arcu venenatis vel. Nam et vehicula turpis. Ut nunc purus, mattis eu odio a, egestas facilisis nibh. Mauris magna diam, iaculis vitae sapien non, pharetra congue purus. Phasellus in odio purus.</p>
						    		<div class="rateYo"></div>
						    	</div>
						    </li>
	  					</ul>
					</div>
				</div>
			</div> -->
  <div class="container">
    <h4 class="article-subtitle">Get to Know</h4>
    <h2 class="head">what our customer say</h2>
    <div class="three owl-carousel owl-theme">
      <div class="customer-item" itemscope itemtype="http://schema.org/Rating">
        <div class="border">
          <div class="customer">
            <figure>
              <img
                class="customer-img"
                src="images/customer-img.jpg"
                alt="Person image"
              />
              <figcaption>
                <span itemprop="author">SAGAR KUMAR SAPKOTA</span>
                <div class="rateYo" itemprop="ratingValue"></div>
              </figcaption>
            </figure>
          </div>
          <div class="customer-review">
            <p itemprop="description">
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non"
            </p>
          </div>
        </div>
      </div>
      <div class="customer-item" itemscope itemtype="http://schema.org/Rating">
        <div class="border">
          <div class="customer">
            <figure>
              <img
                class="customer-img"
                src="images/comment-img4.jpg"
                alt="Person image"
              />
              <figcaption>
                <span itemprop="author">SAGAR KUMAR SAPKOTA</span>
                <div class="rateYo" itemprop="ratingValue"></div>
              </figcaption>
            </figure>
          </div>
          <div class="customer-review">
            <p itemprop="description">
              "22222Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non"
            </p>
          </div>
        </div>
      </div>
      <div class="customer-item" itemscope itemtype="http://schema.org/Rating">
        <div class="border">
          <div class="customer">
            <figure>
              <img
                class="customer-img"
                src="images/comment-img3.jpg"
                alt="Person image"
              />
              <figcaption>
                <span itemprop="author">SAGAR KUMAR SAPKOTA</span>
                <div class="rateYo" itemprop="ratingValue"></div>
              </figcaption>
            </figure>
          </div>
          <div class="customer-review">
            <p itemprop="description">
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non"
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Others talk -->
<section class="query-section">
  <div class="container">
    <p>
      Any Queries? Ask us a question at<a href="tel:+9779813639131"
        ><i class="fas fa-phone"></i> +977 9813639131</a
      >
    </p>
  </div>
</section>
<!-- End of Query Section -->
<%- include("parts/footer.ejs") %>
