<%- include("parts/header.ejs") %>
<div class="page-heading">
  <div class="container">
    <h2>categories</h2>
  </div>
</div>
<!-- Popular courses End -->
<div class="learn-courses">
  <div class="container">
    <div class="courses">
      <div class="owl-one owl-carousel">
        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L1STMathCourses"
              ><img src="images/math.jpg" alt="courses picture"
            /></a>
          </div>
          <a
            href="/L1STMathCourses"
            class="learn-desining-banner"
            itemprop="name"
            >mathematique courses</a
          >
          <div class="box-body" itemprop="description">
            <p>
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>

        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L1STAlgoCourses"
              ><img src="images/course-pic.jpg" alt="courses picture"
            /></a>
          </div>
          <a
            href="/L1STAlgoCourses"
            class="learn-desining-banner"
            itemprop="name"
            >algorithemique courses</a
          >
          <div class="box-body" itemprop="description">
            <p>
              <br />
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>

        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L1STPhysiqueCourses"
              ><img
                src="images/phy.jpg"
                style="height: 232px"
                alt="courses picture"
              />
            </a>
          </div>
          <a
            href="/L1STPhysiqueCourses"
            class="learn-desining-banner"
            itemprop="name"
            >physique courses</a
          >
          <div class="box-body" itemprop="description">
            <p>
              <br />
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>

        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L1STOfficeCourses"
              ><img
                src="images/bireutique.jpg"
                alt="courses picture"
                style="height: 255px"
              />
            </a>
          </div>
          <a
            href="/L1STOfficeCourses"
            class="learn-desining-banner"
            itemprop="name"
            >office courses</a
          >
          <div class="box-body" itemprop="description">
            <p>
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Learn courses End -->
<%- include("parts/footer.ejs") %>
