<%- include("parts/header.ejs") %>
<div class="page-heading">
  <div class="container">
    <h2>categories</h2>
  </div>
</div>
<!-- Popular courses End -->
<div class="learn-courses">
  <div class="container">
    <div class="courses">
      <div class="owl-one owl-carousel">
        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L2GenieCivilMathCourses"
              ><img src="images/math.jpg" alt="courses picture"
            /></a>
          </div>
          <a
            href="/L2GenieCivilMathCourses"
            class="learn-desining-banner"
            itemprop="name"
            >mathematique courses</a
          >
          <div class="box-body" itemprop="description">
            <p>
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>

        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L2GenieCivilGCCourses"
              ><img src="images/GC.jpg" alt="courses picture"
            /></a>
          </div>
          <a
            href="/L2GenieCivilGCCourses"
            class="learn-desining-banner"
            itemprop="name"
            >Génie Civil courses</a
          >
          <div class="box-body" itemprop="description">
            <p>
              <br />
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>

        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L2GenieCivilPhysiqueCourses"
              ><img
              src="images/phy.jpg"
                style="height: 232px"
                alt="courses picture"
              />
            </a>
          </div>
          <a
            href="/L2GenieCivilPhysiqueCourses"
            class="learn-desining-banner"
            itemprop="name"
            >Physique Courses</a
          >
          <div class="box-body" itemprop="description">
            <p>
              <br />
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>
        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L2GenieCivilTechnoCourses"
              ><img
                src="images/technologie.jpg"
                style="height: 232px"
                alt="courses picture"
              />
            </a>
          </div>
          <a
            href="/L2GenieCivilTechnoCourses"
            class="learn-desining-banner"
            itemprop="name"
            >Technologie Courses</a
          >
          <div class="box-body" itemprop="description">
            <p>
              <br />
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Learn courses End -->
<%- include("parts/footer.ejs") %>
