<%- include("parts/header.ejs") %>
<div class="page-heading">
  <div class="container">
    <h2>categories</h2>
  </div>
</div>
<!-- Popular courses End -->
<div class="learn-courses">
  <div class="container">
    <div class="courses">
      <div class="owl-one owl-carousel">
        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L3hydroliquehydroCourses"
              ><img src="images/hydro.jpg" alt="courses picture"
              style="height: 250px"
            /></a>
          </div>
          <a
            href="/L3hydroliquehydroCourses"
            class="learn-desining-banner"
            itemprop="name"
            >hydrolique courses</a
          >
          <div class="box-body" itemprop="description">
            <p>
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>

        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L3hydroliqueLawCourses"
              ><img src="images/loi.jpg" alt="courses picture"
              style="height: 231px;"
            /></a>
          </div>
          <a
            href="/L3hydroliqueLawCourses"
            class="learn-desining-banner"
            itemprop="name"
            >law courses</a
          >
          <div class="box-body" itemprop="description">
            <p>
              <br />
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>

        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L3hydroliquephysiqueCourses"
              ><img
              src="images/phy.jpg"
                style="height: 232px"
                alt="courses picture"
              />
            </a>
          </div>
          <a
            href="/L3hydroliquephysiqueCourses"
            class="learn-desining-banner"
            itemprop="name"
            >Physique Courses</a
          >
          <div class="box-body" itemprop="description">
            <p>
              <br />
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>

        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L3hydroliqueMemcLicCourses"
              ><img
                src="images/memoire.jpg"
                style="height: 232px"
                alt="courses picture"
              />
            </a>
          </div>
          <a
            href="/L3hydroliqueMemcLicCourses"
            class="learn-desining-banner"
            itemprop="name"
            >memoire licence</a
          >
          <div class="box-body" itemprop="description">
            <p>
              <br />
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Learn courses End -->
<%- include("parts/footer.ejs") %>
