<%- include("parts/header.ejs") %>
<div class="page-heading">
  <div class="container">
    <h2>categories</h2>
  </div>
</div>
<!-- Popular courses End -->
<div class="learn-courses">
  <div class="container">
    <div class="courses">
      <div class="owl-one owl-carousel">
        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L3MecaniquehydroCourses"
              ><img src="images/hydro.jpg" alt="courses picture" style="height: 252px"
            /></a>
          </div>
          <a
            href="/L3MecaniquehydroCourses"
            class="learn-desining-banner"
            itemprop="name"
            >hydraulics courses</a
          >
          <div class="box-body" itemprop="description">
            <p>
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>

        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L3MecaniqueAlgoCourses"
              ><img src="images/course-pic.jpg" alt="courses picture"
            /></a>
          </div>
          <a
            href="/L3MecaniqueAlgoCourses"
            class="learn-desining-banner"
            itemprop="name"
            >algorithemique courses</a
          >
          <div class="box-body" itemprop="description">
            <p>
              <br />
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>

        <div
          class="box-wrap"
          itemprop="event"
          itemscope
          itemtype=" http://schema.org/Course"
        >
          <div class="img-wrap" itemprop="image">
            <a href="/L3MecaniqueMemoireLicCourses"
              ><img
                src="images/memoire.jpg"
                style="height: 232px"
                alt="courses picture"
              />
            </a>
          </div>
          <a
            href="/L3MecaniqueMemoireLicCourses"
            class="learn-desining-banner"
            itemprop="name"
            >Memoire licence</a
          >
          <div class="box-body" itemprop="description">
            <p>
              <br />
              Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
              ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
              lorem ipsum
            </p>
          </div>
        </div>
        <div
        class="box-wrap"
        itemprop="event"
        itemscope
        itemtype=" http://schema.org/Course"
      >
        <div class="img-wrap" itemprop="image">
          <a href="/L3MecaniquePhysiqueCourses"
            ><img
              src="images/st.jpg"
              style="height: 232px"
              alt="courses picture"
            />
          </a>
        </div>
        <a
          href="/L3MecaniquePhysiqueCourses"
          class="learn-desining-banner"
          itemprop="name"
          >physique courses</a
        >
        <div class="box-body" itemprop="description">
          <p>
            <br />
            Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem
            ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
            lorem ipsum
          </p>
        </div>
      </div>

        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Learn courses End -->
<%- include("parts/footer.ejs") %>
