<%- include("parts/header") %>

  <div style="height: 1000px;background: url(images/student-gc351adec3_1920.jpg) no-repeat;">
    <div class="container" style="background-color:rgba(60, 207, 41, 0.76); font-size: 23px;transform: translateY(300px);">
      <form method="POST" action="/login">
        <div class="mb-3">
          <br />
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="email"
            name="email"
            style="font-size: 20px"
          />
        </div>
        <br />
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="password"
            name="password"
            style="font-size: 20px"
          />
        </div>
        <% if(message){%>

        <div class="alert alert-danger"><%= message%></div>
        <%}%>

        <button
          type="submit"
          class="btn btn-dark"
          style="
            font-size: 25px;
            margin-left: 45%;
            margin-bottom: 20px;
            margin-top: 30px;
            color:white;
          "
        >
          Login
        </button>
      </form>
    </div>
  </div>
  <%- include("parts/footer.ejs") %>
</div>
