<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>
        Copyright 2022 &copy; DocShare.com
        <span>
          <script>
            document.write(new Date().getFullYear());
          </script>
          - |
        </span>
        Theme designed and developed by
        <b><a href="https://labtheme.com">DocShare</a> </b>
      </span>
    </div>
  </div>
</footer>
