<div style="font-size: 30px">
  <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a
      class="sidebar-brand d-flex align-items-center justify-content-center"
      href="index.html"
    >
      <div class="sidebar-brand-icon">
        <img src="/admin/img/logo/logo2.png" />
      </div>
      <div class="sidebar-brand-text mx-3" style="font-size: 24px">
        RuangAdmin
      </div>
    </a>
    <hr class="sidebar-divider my-0" />
    <li class="nav-item active">
      <a class="nav-link" href="/dashboard">
        <i class="fas fa-fw fa-tachometer-alt" style="font-size: 23px"></i>
        <span style="font-size: 15px">Dashboard</span></a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/documents">
        <!-- <i class="fas fa-fw fa-users"></i> -->
        <i class="fas fa-fw fa-window-maximize" style="font-size: 23px"></i>
        <span style="font-size: 15px">Documents</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">
        <i class="fas fa-fw fa-users" style="font-size: 23px"></i>
        <!-- <i class="fas fa-fw fa-window-maximize"></i> -->
        <span style="font-size: 15px">Users</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/ProfileUsers">
        <i class="fas fa-fw fa-address-card" style="font-size: 23px"></i>
        <!-- <i class="fas fa-fw fa-window-maximize"></i> -->
        <span style="font-size: 15px">Profiles</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/comments">
        <i class="fas fa-fw fa-comment" style="font-size: 23px"></i>
        <!-- <i class="fas fa-fw fa-window-maximize"></i> -->
        <span style="font-size: 15px">Comments</span>
      </a>
    </li>

    <hr class="sidebar-divider" />
    <div class="version" id="version-ruangadmin" style="font-size: 15px"></div>
  </ul>
</div>
